[submodule "External/Transport"]
	path = External/Transport
	url = git@github.com:CocoaFlow/Transport.git
[submodule "External/Quick"]
	path = External/Quick
	url = git@github.com:Quick/Quick.git
[submodule "External/Nimble"]
	path = External/Nimble
	url = git@github.com:Quick/Nimble.git
[submodule "External/BLWebSocketsServer"]
	path = External/BLWebSocketsServer
	url = git@github.com:benlodotcom/BLWebSocketsServer.git
[submodule "External/starscream"]
	path = External/starscream
	url = git@github.com:daltoniam/starscream.git
